.banner {
  overflow: hidden;

  &__wrapper {
    display: flex;
    transition: 1s ease-in-out;
  }

  &__container {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-between;
    padding-left: 56px;
    background-color: $banner-color;
    width: -webkit-fill-available;


    &--blue {
      background-color: deepskyblue;
    }

    &--coral {
      background-color: lightcoral;
    }
  }

  &__text-wrapper {
    display: flex;
    width: 50%;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;

    &--right {
      transform: translateY(-50%) rotate(180deg);
      right: 18px;
      left: auto;
    }
  }

  &__button {
    margin: auto;
    transition: transform 0.3s;
  }

  &__text {
    padding-top: 145px;
  }

  &__title {
    font-size: 58px;
    line-height: 70px;
    margin-bottom: 19px;
  }

  &__description {
    margin-bottom: 30px;
    max-width: 565px;
  }

  &__explore-button {
    max-width: 170px;
    margin-bottom: 127px;
  }

  &__image-section {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    background-image: url("../assets/images/banner-image.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &__indicators {
    position: absolute;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 34px;
    z-index: 2;
  }

  &__indicator {
    height: 2px;
    background-color: $black-color;
    cursor: pointer;
    position: relative;

    &-wrapper {
      position: relative;
      flex: 1 0 194px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      bottom: -10px;
    }

    &--active {
      height: 4px;
      border-radius: 100px;
      box-shadow: 0 0 6px 3px $hover-color;
    }
  }
}