.main {
  margin: 0 73px;

  &__hero {
    width: 100%;
    min-height: 550px;
    border-radius: 32px;
    position: relative;
    z-index: 1;
    margin-bottom: 75px;
  }

  &__ideas {
    margin-bottom: 75px;
  }

  &__sign-up {
    margin: 0 auto 19px;
  }
}