$description-text: 'Readex Pro', sans-serif;
$service-text: 'Inter', sans-serif;
$black-color: #000;
$white-color: #fff;

* {
  box-sizing: border-box;
}

html {
  font-family: $description-text;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, ul, li, ol {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/*.outer-links {*/
/*  color: $blueColor;*/
/*  :visited {*/
/*    color: $blueColor;*/
/*  }*/
/*}*/

a {
  text-decoration: none;
}

/*textarea,*/
/*input {*/
/*  font-family: Roboto, Arial, Helvetica, sans-serif;*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*}*/

button {
  padding: 0;
  border: 0;
  font-family: $service-text;
  background-color: rgba(225, 225, 225, 0);
  cursor: pointer;
}
