h1, h2, h3, h4, h5, h6, ul, li, ol, a, p, input {
  margin: 0;
  padding: 0;
  font-weight: normal;
  border: 0;
}

a {
  text-decoration: none;

  &:visited {
    color: black;
  }
}

li, ul, ol {
  list-style: none;
}

input {
  outline: none;
}

